
$color1: #17202A;
$text_color1: #fff;
$accent_color: #4BA0EC;

@function pxToEm($px, $from: 16) {
    @return ($px / $from)+0em;
}

body {
    background: $color1;
    font-family: "Helvetica Neue";
    color: $text_color1;
}



.wrapper {
    display: grid;
    grid-template-columns: 280px 599px 377px;
    margin: auto;
    width: fit-content;
}

.wrapper>div {
    outline: 2px solid red;
}

.logo {
    text-decoration: none;
    margin-left: 18px;
}

.left-sidemenu__nav {
    display: flex;
    flex-direction: column;
    a {
        font-size: 22px;
        font-weight: 500;
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 18px;
        &:hover {
            background: rgba(255, 255, 255, 0.425);
        }
    }
}


.left-sidemenu__nav {
    .text {
        margin-left: 21px;
        font-size: 20px;
    }
}

.tweet {
    color: inherit;
    font-size: pxToEm(15, 15);;
    font-weight: 500;
    text-decoration: none;
    width: pxToEm(211, 15);;
    display: inline-block;
    margin: pxToEm(18, 15) 0 0 pxToEm(7, 15);
    height: pxToEm(50, 15);;
    text-align: center;
    background-color: #4BA0EC;
    line-height: pxToEm(50, 15);
    vertical-align: middle;
    border-radius: pxToEm(100, 15);
}

.toggler {

    display: flex;
    justify-content: center;

    width: 45px;
    height: 45px;
    margin-left: pxToEm(7);
    svg {
        width: 12px;
        color: #fff;
    }
}

.profile-name {
    font-size: 20px;
}

.search-box {
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;
    $icon_space: 17;
    $icon_width: 14.5;

    &__field {
        $field_bg: #283340;
        background: $field_bg;
        border: 0;
        border-radius: pxToEm(100);
        box-sizing: border-box;
        color: $text_color1;
        font-size: inherit;
        padding-left: pxToEm($icon_space * 2 + $icon_width);
        padding-right: pxToEm($icon_space);
        height: pxToEm(40);
        width: pxToEm(346);

        &::placeholder {
            color: #8A98A4;
        }

        &:focus {
            outline: none;
            &+svg {
                stroke: $text_color1;
            }

        }

        &:not([value=""]) {
            background: rgba($field_bg, 0.8);
            &+svg {
                stroke: rgb(223, 79, 79);
            }
        }
    }

    &__icon {
        stroke: #8A98A4;
        position: absolute;
        left: pxToEm($icon_space);
    }

}

@media only screen and (max-width: 900px) {
    .tweet {
        font-size: 12px;
    }
}

@media only screen and (max-width: 700px) {
    .wrapper {
        grid-template-columns: 60px 1fr;
        width: 100%;

        &--open {
            grid-template-columns: 1fr;
            padding-left: 60px;
            
        }
    }

    .left-sidemenu__nav {
        .text {
            display: none;
        }
    }

    .left-sidemenu {
        &__nav {
            .text {
                display: none;
            }
        }

        &--open {
            position: absolute;
            left: 8px;
            .text {
                display: initial;
            }
        }
    }

    .tweet {
        width: 45px;
        height: 45px;
        font-size: 12px;
    }

    .right-column {
        display: none;
    }
}